<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <h2>BEST SELLER</h2>
    <ul>
      <li>
        <a>
          raridade
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <article>
          <header>
            <img src="" alt="">
          </header>
          <div>
              <h3>Nike Air Max 270 React</h3>
              <div>
                <ul><li></li></ul>
              </div>
            </div>
            <footer>
              <strong>
                <span>$299</span>
              </strong>
              <span>$534,33</span>
              <span>24% off</span>
            </footer>
        </article>
      </li>
    </ul>
  </div>
</body>
</html>